* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 50vw auto;
  grid-template-rows: 8vh 87vh 5vh;
}

#head {
  background-color: black;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  background-color: blue;
}

#footer {
  background-color: cyan;
  grid-column: span 2;
}

.drop-down {
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

#left > div {
  min-height: 100px;
  min-width: 100px;
  background-color: green;
}